* {
 /*font-weight:bold!important;*/
}

html,body { height:100%;padding:0;margin:0 }

  body {

    font-family: 'News Cycle', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	height: 100%;
  background-image: url("IAMarble2.jpg");
  background-size:cover;

}

.analogue1 {
  font-family: 'News Cycle', sans-serif;
  background-image: url("hugeWood4.jpg");
 font-weight:bold!important;
}

.digital1 {
 font-family: 'Convergence', sans-serif;
  /*background-image: url("IAMarble2.jpg");*/
  background-color: black;
  background-image:none;

}

.container-fluid {
  overflow-y:hidden;
  overflow-x:hidden;
}

  .btn{
    background-color:#222222;
	  color:#EDEDED;
  }

  .centred {

    margin: auto;

  }

/*
   .shadowyOld {
   box-shadow: 6px 10px 45px 1px rgba(0, 0, 0, 0.45), inset 0px 0px 19px 10px rgba(119, 119, 119, 0.25);
-moz-box-shadow: 6px 10px 45px 1px rgba(0, 0, 0, 0.45), inset 0px 0px 19px 10px rgba(119, 119, 119, 0.25);
-webkit-box-shadow: 6px 10px 45px 1px rgba(0, 0, 0, 0.45),  inset 0px 0px 35px 10px rgba(119, 119, 119, 0.25);

   }

   .shadowyMemo {
 box-shadow: 6px 10px 45px 1px rgba(0, 0, 0, 0.45), inset 0px 0px 15px 10px rgba(119, 119, 119, 0.25);
-moz-box-shadow: 6px 10px 45px 1px rgba(0, 0, 0, 0.45), inset 0px 0px 15px 10px rgba(119, 119, 119, 0.25);
-webkit-box-shadow: 6px 10px 45px 1px rgba(0, 0, 0, 0.45), inset 0px 0px 20px 10px rgba(119, 119, 119, 0.05);
   }

   .shadowyScore {
     box-shadow: 6px 10px 20px 1px rgba(0, 0, 0, 0.45), inset 0px 0px 19px 10px rgba(119, 119, 119, 0.25);
-moz-box-shadow: 6px 10px 20px 1px rgba(0, 0, 0, 0.45), inset 0px 0px 19px 10px rgba(119, 119, 119, 0.25);
-webkit-box-shadow: 6px 10px 20px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 19px 10px rgba(119, 119, 119, 0.25);

   }
*/

  .selection  {
    background-color:#EDEDED;
    font-weight: bold;
  }

  .selection *  {

    font-weight: bold;
  }


 .settings {
    background-color:#EDEDED;



 }



  .countdown {
    background-color:#EDEDED;
	height:400px;

  }
   #countdownText {

	font-size:18pt;
   }
   #countdownRecallText {

 font-size:18pt;
   }
  #countdownTime {

	font-size:18pt;
  }
  #countdownRecallTime {

	font-size:18pt;
  }
  #countdownTable {
    margin:0 auto;
	width:236px;
  }

  #countdownRecallTable {
    margin:0 auto;
	width:164px;
  }
  .full-height {
    height:100%;

  }

  .topMargin {
    height:72px;
  }

/*
 .analogue1container {
   height:100%;

 }
*/
.analogue1memoHeight {

  height:100%;
}
.digital1memoHeight {

    height:775px;
}

  .analogue1box {

font-weight:bold!important;
  background-image: url("paperTextureBig.jpg");
  background-position: top left;
  background-size: 100% auto;


  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.35), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.35), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.1) inset;

  padding:20px;
  border-radius: 0 !important;


  }


  .analogue1box * {
  font-weight:bold!important;

  }

  .digital1box {

  background-color:#FFFFFF;
  color:black;
  border:6px solid #33CCEE;

  }

  .analogue1box:before, .analogue1box:after
{
  content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0px 12px rgba(0,0,0,.4);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.analogue1box:after
{
    right:10px;
    left:auto;
    transform:skew(4deg), rotate(3deg);
}

/*
  .overlay {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-image: url("IAMarble2.jpg");
    background-size:cover;

    opacity:0.3;
  }
*/
/*
  .tablink {
    background-color:#000000;
    opacity: .55;
    color:white;
}

.tablinkred {
  background-color:red;
  opacity: .55;
  color:white;
}
*/
.analogue1pagelink {
  background-color:#000000;
  opacity: .55;
  color:white;
}

.analogue1pagelinkred {
  background-color:red;
  opacity: .55;
  color:white;
}


.digital1pagelink {
  background-color:#000000;
  color:white;
}

.digital1pagelinkred {
  background-color:red;
  color:white;
}



.menu a{text-decoration:none!important}
.menu li{float:left}
.menu li a{display:block;padding:8px 16px}
.menu li a:hover{color:#000;background-color:#ccc}
.menu{
	background-color:#ccc;color:#000;
	list-style-type:none;
	position: relative;
	left: 100px;
}
#menuRecallDiv .menu{
	background-color:#ccc;color:#000;
	list-style-type:none;
	position: relative;
	left: 100px;
}

#wrapper {


position:relative;
  width:80%;

  margin: 0 auto;
}
.memoContent {
  position:absolute;
  left:0;
  padding: 2px;
  margin: 0 auto;
  width: 100%;

}


#preview {
  /*height: 45px;*/
  /*width: 240px;*/

}

.recallContent {
	padding: 2px;
  margin: 0 auto;
  width: 100%

}


 .analogue1rowNumber {
    border:none;color:red;
	width:30px !important;
  opacity: .5 !important;
  }


.analogue1numbersMemo {
  font-size:18pt;
  width:24px;
  padding-bottom:2px;
  text-align:center;

text-shadow: 1px 0px 1px  rgba(10, 10, 10, 0.05);

color: #000000;
opacity: .6;
}

.analogue1numbersSelected {

  /*background-color: lightblue;*/
  opacity: .88;
}

.analogue1binaryMemo {
  font-size:18pt;
  width:24px;
  padding-bottom:2px;
  text-align:center;

  text-shadow: 1px 0px 1px  rgba(10, 10, 10, 0.07);

  color: #000000;
  opacity: .7;
}

.analogue1binarySelected {
  /*background-color:lightblue;
  background-opacity: .7;*/
  opacity: .85;
}

.digital1rowNumber {
   border:none;color:#33CCEE;
 width:30px !important;

 }


 .digital1numbersMemo {
   font-size:18pt;
   width:24px;
   padding-bottom:2px;
   text-align:center;


   color: #000000;

 }

 .digital1numbersSelected {

   /*background-color: lightblue;*/

 }

 .digital1binaryMemo {
   font-size:18pt;
   width:24px;
   padding-bottom:2px;
   text-align:center;


   color: #000000;
 }

 .digital1binarySelected {
   /*background-color:lightblue;
   background-opacity: .7;*/

 }

.analogue1numbersRecallTD {
  padding-top:10px;
  -webkit-box-shadow: 0 0px 1px 1px rgba(30, 30, 30, .0);
  text-shadow:0px 0px 1px 1px  rgba(0, 0, 0, 1);

}

.analogue1numbersRecall {
  /background-color:#fdfec8;
  background-color:rgba(0,0,0,0);
  height:25px !important;
  width:25px !important;
  text-align:center;
  border-color:#222222;
  border-width: 1px;
  border-style:ridge;
  opacity: .85;
}
.analogue1numbersSelectedRecall {
  background-color:#ffaa33;
  height:25px !important;
  width:25px !important;
  text-align:center;
  border-color:#222222;
  border-width: 1px;
  border-style:ridge;
}
.analogue1numbersInGroup {
  background-color:#d3d3e3;
  height:25px !important;
   width:25px !important;
   text-align:center;
   border-color:#222222;
   border-width:1px;
   border-style:ridge;
    /*border-style:ridge;*/
}


.digital1numbersRecallTD {
  padding-top:10px;

}
.digital1numbersRecall {
  height:25px !important;
  width:25px !important;
  text-align:center;

  border-color:#222222;
  border-width:1px;
}
.digital1numbersSelectedRecall {
  background-color:#ffaa33;
  height:25px !important;
  width:25px !important;
  text-align:center;

  border-color:#222222;
  border-width:1px;
}
.digital1numbersInGroup {
  background-color:#d3d3e3;
  height:25px !important;
   width:25px !important;
   text-align:center;

   border-color:#222222;
   border-width:1px;
}

.binaryRecallTD {
  padding-top:10px
}
.binaryRecall {
  background-color:#EDEDED;
  height:30px !important;
  width:30px !important;
  text-align:center;
  opacity: .82;
}
.binarySelectedRecall {
  background-color:orange;
  height:30px !important;
  width:30px !important;
  text-align:center;
  opacity: .82;
}
.binaryInGroup {
 background-color:lightblue;
 height:30px !important;
  width:30px !important;
  text-align:center;
}

.analogue1recallTable {
 border-collapse: :collapse;
  text-align:center;
  margin: 0 auto;
  opacity: .82;
}

.digital1recallTable {
 border-collapse: :collapse;
  text-align:center;
  margin: 0 auto;

}
.scoreTable {
  border-collapse:separate;
  text-align:center;
  margin: 0 auto;
  padding-top:5px;
}
/*
.correction {
  background-color:#EDEDED;
  height:30px;
  width:30px;
  text-align:center;

}

*/
.analogue1score {
  border: 1px solid #d3d3e3;
  height:30px;
  width:30px;
  text-align:center;
  opacity: 0.82;
  padding:0px;
}

.digital1score {
  border: 1px solid #222222;
  height:30px;
  width:30px;
  text-align:center;
  padding:0px;
}

.correct {
  /*background-color:#99dd99;*/
  background: rgba(0, 180, 0, 0.3)
}
.incorrect {
  /*background-color:#dd6666;*/
  background: rgba(180, 0, 0, 0.4)
}


#spanOuterScore {
  font-size:20pt;

  vertical-align:middle;
}

#spanScore {
  font-size:20pt;

  vertical-align:middle;
}
#spanCorrect {
  font-size:14pt;

  vertical-align:middle;
}

.disciplineTitle {
  font-size:18pt;

  vertical-align:middle;
}

.disciplineTitleMemo {
  font-size:18pt;

  vertical-align:middle;
  font-style:italic;
}

.disciplineHeadingTable {
  position:absolute;
  left:8%;

}

.disciplineHeadingTable td {
  padding-right:100px;

}
