* {
 /*font-weight:bold!important;*/
}

html,body { height:100%;padding:0;margin:0 }

  body {

    font-family: 'News Cycle', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	height: 100%;
/*  background-image: url("IAMarble2.jpg");*/
/* background-color:black;*/
  background-size:cover;

}

.selectionSkin {
  font-family: 'News Cycle', sans-serif;
  background-color:black;
}

.analogue1 {
  font-family: 'News Cycle', sans-serif;
  background-image: url("hugeWood4NoNails.jpg");
 font-weight:bold!important;
}

.digital1 {
 font-family: 'Convergence', sans-serif;
  background-image: url("IAMarble2.jpg");
/*  background-color: black;*/


}

.container-fluid {
  overflow-y:hidden;
  overflow-x:hidden;
}

  .btn{
    background-color:#222222;
	  color:#EDEDED;
  }

  .centred {
    text-align:center;
    margin: auto;

  }

  .selection  {
    background-color:#EDEDED;
    font-weight: bold;
    border:6px solid #33CCEE;
  }

  .selection *  {

    font-weight: bold;
  }

 .skinOptionImg {

   height:125px;
 }

/*
 .settings {
    background-color:#EDEDED;

 }
*/



/*
#selHColour option {
 opacity:0.5;

}
*/
/*
  .countdown {
    background-color:#EDEDED;
	height:400px;

  }*/
   #countdownText {

	font-size:18pt;
   }
   #countdownRecallText {

 font-size:18pt;
   }
  #countdownTime {

	font-size:18pt;
  }
  #countdownRecallTime {

	font-size:18pt;
  }
  #countdownTable {
    margin:0 auto;
	width:236px;
  }

  #countdownRecallTable {
    margin:0 auto;
	width:164px;
  }
  .full-height {
    height:100%;

  }

  #topMargin {
    height:72px;
  }

/*
 .analogue1container {
   height:100%;

 }
*/
.analogue1memoHeight {

  height:100%;
}
.digital1memoHeight {

    height:700px;
}

  .analogue1boxA {

    font-weight:bold!important;
      background-image: url("hugeWoodPaperA.jpg");
      background-position: top left;
      background-size: 100% auto;


      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.35), 0 0 20px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.35), 0 0 20px rgba(0, 0, 0, 0.1) inset;
      -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.54),15px -10px 60px 15px rgba(0, 0, 0, 0.08) inset;

      padding:20px;
      border-radius: 0 !important;

  }

  .analogue1boxB {

    font-weight:bold!important;
      background-image: url("hugeWoodPaperB.jpg");
      background-position: top left;
      background-size: 100% auto;


      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.35), 0 0 20px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.35), 0 0 20px rgba(0, 0, 0, 0.1) inset;
       -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.54),15px -10px 60px 15px rgba(0, 0, 0, 0.08) inset;

      padding:20px;
      border-radius: 0 !important;

  }


  .analogue1boxA *, .analogue1boxB * {
  font-weight:bold!important;

  }

  .digital1boxA, .digital1boxB {

  background-color:#FFFFFF;
  color:black;

  border:6px solid #888888;

  }




  .analogue1boxA:before, .analogue1boxA:after, .analogue1boxB:before, .analogue1boxB:after
{
  content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0px 22px rgba(0,0,0,.9);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.analogue1boxA:after, .analogue1boxB:after
{
    right:10px;
    left:auto;
    transform:skew(4deg), rotate(3deg);
}

/*
  .overlay {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-image: url("IAMarble2.jpg");
    background-size:cover;

    opacity:0.3;
  }
*/
/*
  .tablink {
    background-color:#000000;
    opacity: .55;
    color:white;
}

.tablinkred {
  background-color:red;
  opacity: .55;
  color:white;
}
*/
.analogue1pagelink {
  background-color:#000000;
  opacity: .55;
  color:white;
}

.analogue1pagelinkred {
  background-color:red;
  opacity: .55;
  color:white;
}


.digital1pagelink {
  background-color:#000000;
  color:white;
}

.digital1pagelinkred {
  background-color:red;
  color:white;
}



.menu a{text-decoration:none!important}
.menu li{float:left}
.menu li a{display:block;padding:8px 16px}
.menu li a:hover{color:#000;background-color:#ccc}
.menu{
	background-color:#ccc;color:#000;
	list-style-type:none;
	position: relative;
	left: 100px;
}
#menuRecallDiv .menu{
	background-color:#ccc;color:#000;
	list-style-type:none;
	position: relative;
	left: 100px;
}

#wrapper {


position:relative;
  width:80%;

  margin: 0 auto;
}
.memoContent {
  position:absolute;
  left:0;
  padding: 2px;
  margin: 0 auto;
  width: 100%;

}


#preview {
  /*height: 45px;*/
  /*width: 240px;*/

}

.recallContent {
	padding: 2px;
  margin: 0 auto;
  width: 100%

}


 .analogue1rowNumber {
    border:none;color:red;
	width:30px !important;
  opacity: .5 !important;
  }


.analogue1numbersMemo {
  font-size:18pt;
  width:24px;
  padding-bottom:2px;
  text-align:center;

text-shadow: 0px 0px 1px  rgba(10, 10, 10, 0.05);

color: #000000;
opacity: .75;
}

.analogue1numbersSelected {

  /*background-color: lightblue;*/
  opacity: .88;
}

.analogue1binaryMemo {
  font-size:18pt;
  width:24px;
  padding-bottom:2px;
  text-align:center;

  text-shadow: 0px 0px 1px  rgba(10, 10, 10, 0.05);

  color: #000000;
  opacity: .75;
}

.analogue1binarySelected {
  /*background-color:lightblue;
  background-opacity: .7;*/
  opacity: .85;
}

.digital1rowNumber {
   border:none;color:#33CCEE;
 width:30px !important;

 }


 .digital1numbersMemo {
   font-size:18pt;
   width:24px;
   padding-bottom:2px;
   text-align:center;


   color: #000000;

 }

 .digital1numbersSelected {

   /*background-color: lightblue;*/

 }

 .digital1binaryMemo {
   font-size:18pt;
   width:24px;
   padding-bottom:2px;
   text-align:center;


   color: #000000;
 }

 .digital1binarySelected {
   /*background-color:lightblue;
   background-opacity: .7;*/

 }
.bigCards {
  height:240px;

}
.analogue1cardOneMemo {


}

.analogue1cardOtherMemo {


}

.analogue1cardImgSmall {
   height:80;
   position:absolute;
}

.analogue1cardImgBig {
   height:200;
   position:absolute;
}

.digital1cardOneMemo {


}

.digital1cardOtherMemo {


}

.digital1cardImgSmall {
   height:80;
   position:absolute;
}

.digital1cardImgBig {
   height:200;
   position:absolute;
}

.analogue1numbersRecallTD {
  padding-top:10px;
  -webkit-box-shadow: 0 0px 1px 1px rgba(30, 30, 30, .0);
  text-shadow:0px 0px 1px 1px  rgba(0, 0, 0, 1);

}

.analogue1numbersRecall {
    animation: glow 899s infinite alternate;
}

@keyframes glow{

    to {
        text-shadow:0px 0px 3px rgba(0,0,200,.65);
    }
}


.analogue1numbersRecall {
  /background-color:#fdfec8;
  background-color:rgba(0,0,0,0);
  height:25px !important;
  width:25px !important;
  text-align:center;
  border-color:#222222;
  border-width: 1px;
  border-style:none dotted ridge none;
  opacity: .95;
  font-family: 'Reenie Beanie', cursive;
  font-weight:normal!important;
  font-size:41;
  /*color:#3333cc;*/
  color:blue;
}
.analogue1numbersSelectedRecall {
/*  background-color:#ffaa33;*/
background-color:rgba(0,0,0,0.5);
  height:25px !important;
  width:25px !important;
  text-align:center;
  border-color:#222222;
  border-width: 1px;
  border-style:solid;
  font-family: 'Reenie Beanie', cursive;
  font-weight:normal!important;
  font-size:41;
/*  color:#3333cc;*/
  color:blue;
}
.analogue1numbersInGroup {
  /*background-color:#d3d3e3;*/
 /*background-color:rgba(245,245,220,0.5);*/
 background-color:rgba(0,0,0,0);
  height:25px !important;
   width:25px !important;
   text-align:center;
   border-color:#222222;
   border-width:1px;
   border-style:solid;
   font-family: 'Reenie Beanie', cursive;
   font-weight:normal!important;
   font-size:41;
   /*color:#3333cc;*/
   color:blue;

}


.digital1numbersRecallTD {
  padding-top:10px;

}
.digital1numbersRecall {
  height:25px !important;
  width:25px !important;
  text-align:center;

  border-color:#222222;
  border-width:1px;
}
.digital1numbersSelectedRecall {
  background-color:#ffaa33;
  height:25px !important;
  width:25px !important;
  text-align:center;

  border-color:#222222;
  border-width:1px;
}
.digital1numbersInGroup {
  background-color:#d3d3e3;
  height:25px !important;
   width:25px !important;
   text-align:center;

   border-color:#222222;
   border-width:1px;
}

.binaryRecallTD {
  padding-top:10px
}
.binaryRecall {
  background-color:#EDEDED;
  height:30px !important;
  width:30px !important;
  text-align:center;
  opacity: .82;
}
.binarySelectedRecall {
  background-color:orange;
  height:30px !important;
  width:30px !important;
  text-align:center;
  opacity: .82;
}
.binaryInGroup {
 background-color:lightblue;
 height:30px !important;
  width:30px !important;
  text-align:center;
}

.analogue1recallTable {
 border-collapse: :collapse;
  text-align:center;
  margin: 0 auto;
  opacity: .82;
}

.digital1recallTable {
 border-collapse: :collapse;
  text-align:center;
  margin: 0 auto;

}

#spanShift {
  font-size:40px;
  position: relative;
left: 30px;
top: 10px;
}

.scoreTable {
  border-collapse:separate;
  text-align:center;
  margin: 0 auto;
  padding-top:5px;
}
/*
.correction {
  background-color:#EDEDED;
  height:30px;
  width:30px;
  text-align:center;

}

*/
.analogue1score {
  border: 1px solid #d3d3e3;
  height:30px;
  width:30px;
  text-align:center;
  opacity: 0.95;
  padding:0px;
  font-family: 'Reenie Beanie', cursive;
  font-weight: normal !important;
  font-size: 41;
  color: blue;
  text-shadow:0px 0px 3px rgba(0,0,200,.45);
}

.digital1score {
  border: 1px solid #222222;
  height:30px;
  width:30px;
  text-align:center;
  padding:0px;
}

.correct {
  /*background-color:#99dd99;*/
  background: rgba(0, 255, 0, 0.3)
}
.incorrect {
  /*background-color:#dd6666;*/
  background: rgba(255, 0, 0, 0.4)
}


#spanOuterScore {
  font-size:20pt;

  vertical-align:middle;
}

#spanScore {
  font-size:20pt;

  vertical-align:middle;
}
#spanCorrect {
  font-size:14pt;

  vertical-align:middle;
}

.disciplineTitle {
  font-size:18pt;

  vertical-align:middle;
}

.disciplineTitleMemo {
  font-size:18pt;

  vertical-align:middle;
  font-style:italic;
}

.disciplineHeadingTable {
  position:absolute;
  left:8%;

}

.disciplineHeadingTable td {
  padding-right:100px;

}
